<html>
    <head>
        <title>Home page!</title>
    </head>
<body>

<h1>Whose statistics do you want to see?</h1>

<a href="http://localhost:5000/1">Christian Benteke</a><br/>
<a href="http://localhost:5000/Moussa Dembele">Moussa Dembele</a><br/>
<a href="http://localhost:5000/Marouane Fellaini">Marouane Fellaini</a><br/>
<a href="http://localhost:5000/4">Eden Hazard</a><br/>
<a href="http://localhost:5000/Vincent Kompany">Vincent Kompany</a><br/>
<a href="http://localhost:5000/Romelu Lukaku">Romelu Lukaku</a><br/>
<a href="http://localhost:5000/Simon Mignolet">Simon Mignolet</a><br/>
<a href="http://localhost:5000/8">Kevin Mirallas</a><br/>
<a href="http://localhost:5000/Thomas Vermaelen">Thomas Vermaelen</a><br/>
<a href="http://localhost:5000/Jan Vertonghen">Jan Vertonghen</a><br/>
<a href="http://localhost:5000/11">Kevin De Bruyne</a><br/>
<a href="http://localhost:5000/12">Igor De Camargo</a><br/>
<a href="http://localhost:5000/13">Timmy Simmons</a><br/>
<a href="http://localhost:5000/14">Daniel Van Buyten</a><br/>
<a href="http://localhost:5000/15">Thibaut Courtois</a><br/>
<a href="http://localhost:5000/16">Jean-Francois Gillet</a><br/>
<a href="http://localhost:5000/17">Gaby Mudingayi</a><br/>
<a href="http://localhost:5000/18">Radja Nainggolan</a><br/>
<a href="http://localhost:5000/19">Toby Alderweireld</a><br/>

</body>
</html>