<html>
    <head>
        <title>Home page!</title>
    </head>
<body>

<h1>Whose statistics do you want to see?</h1>

<a href="/1">Christian Benteke</a><br/>
<a href="/Moussa Dembele">Moussa Dembele</a><br/>
<a href="/Marouane Fellaini">Marouane Fellaini</a><br/>
<a href="/4">Eden Hazard</a><br/>
<a href="/Vincent Kompany">Vincent Kompany</a><br/>
<a href="/Romelu Lukaku">Romelu Lukaku</a><br/>
<a href="/Simon Mignolet">Simon Mignolet</a><br/>
<a href="/8">Kevin Mirallas</a><br/>
<a href="/Thomas Vermaelen">Thomas Vermaelen</a><br/>
<a href="/Jan Vertonghen">Jan Vertonghen</a><br/>
<a href="/11">Kevin De Bruyne</a><br/>
<a href="/12">Igor De Camargo</a><br/>
<a href="/13">Timmy Simmons</a><br/>
<a href="/14">Daniel Van Buyten</a><br/>
<a href="/15">Thibaut Courtois</a><br/>
<a href="/16">Jean-Francois Gillet</a><br/>
<a href="/17">Gaby Mudingayi</a><br/>
<a href="/18">Radja Nainggolan</a><br/>
<a href="/19">Toby Alderweireld</a><br/>

</body>
</html>