<html>
    <head>
        <title>Home page!</title>
    </head>
<body>

<h1>Whose statistics do you want to see?</h1>

<a href="http://intense-citadel-9344.herokuapp.com/1">Christian Benteke</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/Moussa Dembele">Moussa Dembele</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/Marouane Fellaini">Marouane Fellaini</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/4">Eden Hazard</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/Vincent Kompany">Vincent Kompany</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/Romelu Lukaku">Romelu Lukaku</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/Simon Mignolet">Simon Mignolet</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/8">Kevin Mirallas</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/Thomas Vermaelen">Thomas Vermaelen</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/Jan Vertonghen">Jan Vertonghen</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/11">Kevin De Bruyne</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/12">Igor De Camargo</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/13">Timmy Simmons</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/14">Daniel Van Buyten</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/15">Thibaut Courtois</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/16">Jean-Francois Gillet</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/17">Gaby Mudingayi</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/18">Radja Nainggolan</a><br/>
<a href="http://intense-citadel-9344.herokuapp.com/19">Toby Alderweireld</a><br/>

</body>
</html>