<!DOCTYPE html>
<html>
<head>
<title>Jan Vertonghen stats</title>
</head>
<body>
<h1>STATS Jan Vertonghen</h1>
<h3>Permanent stats</h3>
  <li>Final rating: 3.02</li>
  <li>Discipline: 6.5</li>
  <li>Strength: 7.5</li>
  <li>Tackling: 6.5</li>
  <li>Mistake Factor: 4.0</li>
  <li>Positioning: 6.5</li>
  <li>Club Loyalty: 7.0</li>
  <li>Passing: 7.0</li>
  <li>Shooting: 7.0</li>
  <li>Speed: 6.5</li>
  <li>Heading: 7.0</li>
  <li>Durability: 7.0</li>

<hr>

<h3>Last Match</h3>
Fulham 0 - 3 Tottenham<br/>

<h3>Next Match</h3>
Tottenham  --- Panathinaikos
</body>
</html>
	