<!DOCTYPE html>
<html>
<head>
<title>Marouane Fellaini stats</title>
</head>
<body>
<h1>STATS Marouane Fellaini</h1>
<h3>Permanent stats</h3>
  <li>Final rating: 3.46</li>
  <li>Discipline: 3.5</li>
  <li>Tackling: 6.0</li>
  <li>Durability: 6.5</li>
  <li>Creativity: 6.5</li>
  <li>Dribbling/Ball Control: 7.0</li>
  <li>Diving: 6.5</li>
  <li>Passing: 7.0</li>
  <li>Shooting: 7.0</li>
  <li>Speed: 6.0</li>
  <li>Club Loyalty: 4.0</li>
  <li>Vision: 6.5</li>

<hr>

<h3>Last Match</h3>
Manchester City 1 - 1 Everton<br/>
  <li>yellow card: 1</li>
  <li>goal: 1</li>
  <li>Man of the match: True</li>

<h3>Next Match</h3>
Everton  --- Tottenham
</body>
</html>
	