<!DOCTYPE html>
<html>
<head>
<title>Moussa Dembele stats</title>
</head>
<body>
<h1>STATS Moussa Dembele</h1>
<h3>Permanent stats</h3>
  <li>Final rating: 2.91</li>
  <li>Killer Instinct: 7.0</li>
  <li>Work Rate: 7.0</li>
  <li>Durability: 6.5</li>
  <li>Creativity: 7.5</li>
  <li>Dribbling/Ball Control: 7.0</li>
  <li>Fear Factor: 6.5</li>
  <li>Diving: 6.5</li>
  <li>Club Loyalty: 5.0</li>
  <li>Shooting: 7.0</li>
  <li>Speed: 7.0</li>
  <li>Heading: 6.5</li>

<hr>

<h3>Last Match</h3>
Fulham 0 - 3 Tottenham<br/>
  <li>assist: 1</li>

<h3>Next Match</h3>
Tottenham  --- Panathinaikos
</body>
</html>
	