<!DOCTYPE html>
<html>
<head>
<title>Romelu Lukaku stats</title>
</head>
<body>
<h1>STATS Romelu Lukaku</h1>
<h3>Permanent stats</h3>
  <li>Final rating: 3.07</li>
  <li>Killer Instinct: 8.5</li>
  <li>Work Rate: 7.5</li>
  <li>Durability: 7.0</li>
  <li>Creativity: 6.5</li>
  <li>Dribbling/Ball Control: 6.5</li>
  <li>Fear Factor: 7.0</li>
  <li>Diving: 6.0</li>
  <li>Club Loyalty: 5.5</li>
  <li>Shooting: 7.0</li>
  <li>Speed: 8.0</li>
  <li>Heading: 8.0</li>

<hr>

<h3>Last Match</h3>
West Bromwich Albion 0 - 1 Stoke City<br/>

<h3>Next Match</h3>
Arsenal FC  --- West Bromwich Albion
</body>
</html>
	