<!DOCTYPE html>
<html>
<head>
<title>Simon Mignolet stats</title>
</head>
<body>
<h1>STATS Simon Mignolet</h1>
<h3>Permanent stats</h3>
  <li>Final rating: 2.96</li>
  <li>Penalty Saving: 5.5</li>
  <li>Aerial Ability: 5.5</li>
  <li>Mistake Factor: 5.5</li>
  <li>Positional Sense: 6.0</li>
  <li>Foot Skills: 6.0</li>
  <li>Club Loyalty: 5.5</li>
  <li>Kicking: 5.5</li>
  <li>Command of Box: 6.5</li>
  <li>Eccentricity: 5.0</li>
  <li>Reflexes: 6.5</li>
  <li>Shot Stopping: 6.0</li>

<hr>

<h3>Last Match</h3>
Norwich City 2 - 1 Sunderland<br/>

<h3>Next Match</h3>
Sunderland  --- Chelsea FC
</body>
</html>
	