<!DOCTYPE html>
<html>
<head>
<title>Thomas Vermaelen stats</title>
</head>
<body>
<h1>STATS Thomas Vermaelen</h1>
<h3>Permanent stats</h3>
  <li>Final rating: N/A</li>
  <li>Discipline: 6.0</li>
  <li>Strength: 7.5</li>
  <li>Tackling: 7.5</li>
  <li>Mistake Factor: 5.0</li>
  <li>Positioning: 6.5</li>
  <li>Club Loyalty: 6.5</li>
  <li>Passing: 6.5</li>
  <li>Shooting: 7.0</li>
  <li>Speed: 6.0</li>
  <li>Heading: 7.0</li>
  <li>Durability: 6.0</li>

<hr>

<h3>Last Match</h3>
Arsenal FC 0 - 2 Swansea City<br/>
  <li>yellow card: 1</li>

<h3>Next Match</h3>
Olympiakos  --- Arsenal FC
</body>
</html>
	