<!DOCTYPE html>
<html>
<head>
<title>Vincent Kompany stats</title>
</head>
<body>
<h1>STATS Vincent Kompany</h1>
<h3>Permanent stats</h3>
  <li>Final rating: N/A</li>
  <li>Discipline: 6.5</li>
  <li>Strength: 7.0</li>
  <li>Tackling: 6.5</li>
  <li>Mistake Factor: 6.0</li>
  <li>Positioning: 6.5</li>
  <li>Club Loyalty: 6.0</li>
  <li>Passing: 6.0</li>
  <li>Shooting: 5.5</li>
  <li>Speed: 6.0</li>
  <li>Heading: 7.0</li>
  <li>Durability: 6.0</li>

<hr>

<h3>Last Match</h3>
Manchester City 1 - 1 Everton<br/>

<h3>Next Match</h3>
Borussia Dortmund  --- Manchester City
</body>
</html>
	